<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<title> About StreetWhere</title>

<link rel="stylesheet" href="css-reset.css">
<link rel="stylesheet" href="/public/css/stylesAboutUs.css">
<body>
  <div id="logo">
   <centre> <img src="logo-no-background.png" alt="graffiti logo" width="200" height="150"></centre>

  </div>
  <nav>
    <a href="SW.ejs">Home</a>
      <a href="search.ejs">Search</a>
        <a href="contactus.ejs">Contact Us</a>
      </nav>
  <div id="navbar"> 
  <h1>About our Company</h1>
  
      <p id="main">At Graffiti, we're not just another streetwear brand; we're a lifestyle, a culture, and a way of
       self-expression. Established with a deep passion for urban fashion and a desire to redefine the streetwear scene,
        Graffiti has become a symbol of authenticity, creativity,
       and individuality. We're more than just clothing; we're a movement. </p>
      
    </div>

       <div class="container">

       <div class="text-box">
       <h2> Our Story</h2>
       <p> Graffiti was born from the streets, for the streets.
         Our journey began in Riyadh, where a group of like-minded individuals,
          united by a shared love for urban style, decided to create a brand that truly represents the vibrant and
           diverse cultures of the city. We wanted to give our community something 
        more than just clothes; we wanted to provide a platform for self-expression and originality.</p>
       </div>

        <div class="text-box">
        <h2> Our Mission</h2> 
        <p>Our mission at Graffiti is simple but 
          powerful: to empower individuals to embrace their 
          unique style, break free from conformity, and stand out in the crowd. We believe that fashion should be an extension of one's personality,
           a canvas for self-expression. We're here to inspire you to be your authentic self 
          and to help you do it in style. </p>
        </div>
          
        <div class="text-box">
          <h2> What Sets Us Apart</h2>
          <p>Graffiti is all about authenticity and quality. We take pride in creating 
            streetwear that not only looks great but feels great too. Our designs are carefully curated, and our materials are chosen for their
             durability and comfort. We believe that every piece of clothing should tell a story
             and become a part of your personal journey.</p>
            </div>

            <div class="text-box">
             <h2> Our Collections</h2>
             <p>Our collections are a reflection of the streets that inspire us. From edgy graphic tees that make a bold statement to comfortable 
              hoodies that keep you warm on those cool nights, we've got you covered. Graffiti is a celebration of street culture, art, and music, 
              all brought to life through our unique designs.

             </p>
            </div>

            <div class="text-box">
             <h2>Join the Graffiti Family </h2> 
             <p> At Graffiti, we're more than just a brand; we're a community. We want you to be a part of our journey, to embrace the streetwear culture, and to express yourself fearlessly. 
              Join the Graffiti family and become a part of a movement that celebrates individuality and creativity.

             </p>
            </div>
          </div>
</body>